<div id="top_header" class="row">
	<div id="header_left">
		<ul>
			<li>Vegan Snack Packs</li>
			<li>About Us</li>
			<li>Snack</li>
			<li><%= link_to "Chef's Blog",'/posts' %></li>
		</ul>
	</div>
    <% if spree_user_signed_in? %>
            <% puts spree_current_user %>
      <% end %>
	<div id="header_right">
		<ul>
			<li><%= link_to 'Sign Up', signup_path %></li>
			<li>Contact Us  | </li>
			<% if spree_user_signed_in? %>
			<li><%= link_to 'logout', logout_path %> </li>
			<% end %>
		</ul>

	</div>
</div>

<br><br><br><br><br><br>
