<div class="modal fade" id="queue_updated_modal" tabindex="-1"
     role="dialog" aria-labelledby="basicModal" aria-hidden="true">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
        <h4 class="modal-title" id="queue_updated_title">My Snack Queue</h4>
      </div>

      <div class="modal-body" id="updated_body">
        <div> Your Snack Queue has been updated!</div>
      </div>

    </div>

  </div>

</div>