<div class="snack-queue-page">

  <div id="queue_title">
  <span>my snack queue</span>
  </div>

<% if @my_subscriptions.present? %>

  <div class="sub-selection-list" id="user_subscription">

    <div id="snack_subscription_list">
      <div class = "on_hover">
      <%= select :order, :selection, @subscription_list, :id => 'user_subscription_list', :class =>  "selectpicker" %>
      </div>
    </div>

    <div id="incomplete_snack_queue">
      <div>Sorry! Your Snack queue is not complete yet.</div>
    </div>

  </div>

  <div id="complete_queue">
  <!-- By deafult render the first subscription -->
    <%= render :partial => "spree/orders/first_subscription", locals: {sub_items: @sub_items} %>
  </div>

  <% else %>
 
 <div id="no_subscription">
    <div>You don't have any active subscriptions.</div>
 </div>

  <% end %>


</div>

<script type='text/javascript'>
  
  $(document).ready(function(){
    $(".filter-option").text('<%= @subscription_name %>  <%= @current_counter %>');
  });
  
</script>