<header>
  <section class="header-wrapper">  
    <div class="logo"><%=link_to image_tag("../assets/new-design/logo.png"), root_path%><a href="index.html"></div>  
  <div class="social-icons">
    <a href="https://www.facebook.com/vegansnackpacks" target="_blank" class="fb-icon"></a>
    <a href="https://twitter.com/vegansnackpacks" target="_blank" class="t-icon"></a>
    <a href="http://instagram.com/vegansnackpacks" target="_blank" class="insta-icon"></a>
    <a href="https://plus.google.com/112086244209032818992/posts" target="_blank" class="g-icon"></a>
    <a href="http://www.pinterest.com/vegansnackpacks" target="_blank" class="p-icon"></a>
  </div>
  
  <div class="nav-outer">
  <!--<nav>
  <ul>
       <li><a href="#">ABOUT US</a></li>
     <li><a href="#">SNACKS</a></li>
     <li><a href="#">CHEF'S BLOG</a></li>   
     </ul>
    </nav>-->
  
  
  <nav id="nav-wrap">
      <ul id="nav">
     <li><a href="statics/aboutus">About Us</a></li>
     <li><a href="#">SNACKS</a></li>
     <li><a href="/posts">CHEF'S BLOG</a></li>
      </ul>
    </nav>
  
  
  
   <div class="join"><a href="/statics/membership">Join</a></div> 
     <div class="login"><a href="#">Log in</a></div>   
  </div>
  
  </section>
</header>