<% if false %>

<div data-hook="signup_inside_form">


  <div id="rightbar">
    <ul id="pagination" class="">
      <li class="pageSection" data-section="0">
        <div class="pageTrigger">
          <div class="pageDot"></div>
        </div>
      </li>

      <li class="pageSection" data-section="1">
        <div class="pageTrigger">
          <div class="pageDot"></div>
        </div>
      </li>

      <li class="pageSection" data-section="2">
        <div class="pageTrigger">
          <div class="pageDot"></div>
        </div>
      </li>
    </ul>
  </div>


  <div id="billing_address">
    <%= render :partial => 'overrides/Home/registration_form', :locals => { :f => f } %>
  </div>

  <div id="order_summary">
    <%= render :partial => 'overrides/Home/order_summary' %>
  </div>

</div>


<div id="footer_page">

  <%= link_to(image_tag("/assets/signup/home.jpg", :alt => "logo", :title => "Home", :size => "1300x300"), "") %>

  <!-- <hr style="height:17px;border:3px;color:#fff;background-color:#f00;" /> -->
  <div id="footer_details">

    <ul class="footer_links">
      <li class="shop">
        <h3>shop</h3><hr>
        <ul class="footer_fonts">
          <li>Departments</li>
          <li>Gift Cards</li>
          <li>What's Fresh</li>
          <li>Coupon</li>
        </ul>
      </li>

      <li class="shop-1">
        <h3>Vegan Lifestyle</h3><hr>
        <ul class="footer_fonts">
          <li>Recipes</li>
          <li>Featured Stories</li>
          <li>Food Tips & Guides</li>
          <li>Bulk Nutritional Info</li>
        </ul>
      </li>

    </ul>


    <ul class="right_footer_links">

      <li class="contact_us">
        <h3>Contact Us </h3><hr>
        <ul class= "contact_us_fonts">
          <li>Ahimsa Cuisine <br>
            Miami, FL<br>
            786-405-9556<br>
            <span>info@ahimsacuisine.com</span>
          </li>
        </ul>
      </li>

      <li class="shop">
        <h3>About Us</h3>
        <hr>
        <ul class="footer_fonts">
          <li>History</li>
          <li>Leadership Team</li>
          <li>Community</li>
          <li>Careers</li>
          <li>FAQs</li>
        </ul>
      </li>

    </ul>
    <div id="copyright">
      <p>	<span>Copyright 2013. Ahimsa Cuisine. All rights reservered. </span></p>
    </div>
  </div>

</div>

<% end %>