<div id="account_right">

  <div id="contact_us_title">contact us</div>

  <div class="account-contact">

    <div>
      <span><%= image_tag('/assets/vegan-account/vegan-account_15.png', :class => 'img-thumbnail') %></span>
      <span>call</span>
    </div>

    <div>(888) 793-7249</div>
    <div>Monday-Friday</div>
    <div> 9am-5pm EST</div>

  </div>

  <div class="account-contact">

    <div id="acc_email">
      <span><%= image_tag('/assets/vegan-account/vegan-account_21.png', :class => 'img-thumbnail') %></span>
      <span>email</span>
    </div>

    <div id="acc_email_id">support@vegansnackpacks.com</div>

  </div>

</div>