
<div class="modal fade"  id="address_modal" data-backdrop = "static">
  <div class="modal-dialog">
    <div class="modal-content"  id ="move_add_up">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="modal-title" id="edit_add_type">Address details </div>
        <div class="update-notification"> Details updated successfully! </div>
      </div>

      <div class="personal-info-refresh" id="address_content">

      </div>

    </div>
  </div>
</div> <!-- Modal window for personal info edit -->