<div id="address_delete_modal" class="modal hide">

  <div class="modal-header">
    <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
    <h3>Delete</h3>
  </div>

  <div class="modal-body">
    <p>Are you sure to remove this address ? </p>
  </div>

  <div class="modal-footer">
    <a href="#" id="btnYes" class="btn danger">Yes</a>
    <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">No</a>
  </div>

</div>