<div class = "change-font-size">
  <span><%= image_tag('/assets/vegan-account/vegan-account_36.png', :class => 'img-thumbnail') %></span>
  <span class="my-acc">Payment Information</span>
</div>


<div id="card_results">

  <% @cards.each do |card| %>
      <div>
        <!--truncate(card.name, length: 12, omission: '')-->

        <div class='cc-holder-name'> <%= card.name %> </div>
        <span><%#= card.cc_part_1 %>XXXXXXXXXX<%= card.cc_part_2  %></span>
        <span><%= card.cc_type %> </span>
      </div>
  <% end %>
</div>