html, body{
    height: 100%;
    width: 100%;
}

.snack-queue-page{
    width: 100%;
    background-color: #E1E1E1;
    height: 100%;
}

.full-page{ height: 100%; }

#cart_time { display: none; }

.set_time { display: none; }

.show-message {
    color: #FF0000;
    font-weight: bold;
    margin-top: 2%;
    text-align: center;
    margin-bottom: -1%;
}

.address-section{
    width: 100%;
    background-color: #E1E1E1;
    height: 100%;
    display: none;
}

.heading-info {
    color: #FF6302;
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
    padding: 9% 0 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.change-body {
    margin: auto;
    padding: 2% 5% 4% 5%;
    text-align: center;
    width: 60%;
}

.shipping-address-heading {
    margin-top: 4%;
    font-size: 15pt;
    font-weight: bold;
}

.billing-address-heading {
    font-size: 15pt;
    font-weight: bold;
    padding-bottom: 3%;
}

#select-dropdown {
    margin-top: 4%;
}

#change-font > label {
    font-weight: normal !important;
    font-size: 12pt !important;
}

.set-alignment {
    text-align: left;
    padding: 0% 2% 0% 2%;
}

.set-size-firstname {
    width: 51% !important;
}

.set-size-state {
    width: 49% !important;
}

.set-size-code {
    width: 50% !important;
}

#back-button {
    margin-top: -7%;
}

#complete_add_body{
    width: 50%;
    padding: 2% 0% 2% 0%;
    background-color: #FFFFFF;
    border-radius: 5px;
    position: relative !important;
}

#new_address_id {
}

label.left-label{
    float: left;
}

#queue_title{
    color: #FE6505;
    /*font-family: 'regular-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2em;
    font-weight: bold;
    padding-top: 10%;
    text-align: center;
    text-transform: uppercase;
}

#complete_queue{
    padding: 0% 0% 0% 2%;
    display: inline-block;
    width: 100%;
    background-color: #E1E1E1;
}
.blank-tile{
    margin: 0% 2% 2% 0% !important;
    color: #FF6501;
    font-size: 1.3em !important;
    margin-bottom: 2% !important;
    margin-left: 0 !important;
    margin-right: 2% !important;
    padding-top: 7%;
    text-transform: uppercase !important;
    cursor: pointer;
}

.queue-tile {
    background-color: #FFFFFF;
    border-radius: 8px;
    display: inline-block;
    float: left;
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    margin: 2% 2% 0% 0% !important;
    max-height: 180px;
    min-height: 175px;
    text-align: center;
    text-transform: capitalize;
    width: 16.5%;
    color: #FF6600
}

.resized-snacks{
margin-left: 12%;
}

.queue-tile a{
    text-transform: capitalize;
    color: #FF6501;
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
}

.subscription-row{
    margin: 0% 0% 0% 0%;
    /*margin: 2% 0% 0% 0%;*/
    display: inline-block;
    width: 100%;
}

.month-tile{
    margin: 40% 0% 0% 0%;
    display: block;
    /*font-family: 'regular-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 38% 0 0;
    text-transform: uppercase;
    font-weight: bold;

}

.sub-snack-tab {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    display: inline-block;
    margin: 0% 0.3%;
    min-width: 190px;
    min-height: 180px;
    position: relative;
    text-align: center;
}

.subscription-product-image {
    border-radius: 6px;
    cursor: pointer;
}

.sub-snack-name {
    font-size: 1.1em;
    margin: 0% 0% 0% 4%;
    min-height: 35px;
    text-transform: capitalize;
    color: #FF6600;
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    max-width: 175px;
}


.subscription-product-image:hover:after{
    content:'REMOVE';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    color: #F8B202;
    border-radius: 6px;
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    background: url("/assets/vegan-snack-queue/vegan-snack-queue_05.png") no-repeat center;
}

div.first-delivery > div.queue-tile:nth-child(1) {
    background-color: #FF6501;
    background-size: 100% 100%;
    color: #FFFFFF;
}


div.second-delivery > div.queue-tile:nth-child(1) {
    background-color: #3AAA3E;
    background-size: 100% 100%;
    color: #FFFFFF;
}

div.third-delivery > div.queue-tile:nth-child(1) {
    background-color: #FFB600;
    background-size: 100% 100%;
    color: #FFFFFF;
}
div.subscription-row > div.queue-tile:nth-child(1) {
    width: 15%;
    margin: 1.5% 0% 0% 1% !important;
}

.view-edit-options {
    display: block;
    /*font-family: 'regular-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    margin: 15% 2% 0% 3%;
}

.view-edit-options > a{
    color: #FFFFFF;
    background-color: #937182;
    border-radius: 3px;
    color: #FFFFFF;
    /*font-family: 'regular-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    padding: 5% 10% 5% 10%;
    text-transform: uppercase;
}
.view-edit-options > a:hover{
    cursor: pointer;
    text-decoration: none;
}

/*.view-edit-options > a:first-child {margin-left: 30% }*/

/*.view-edit-options > a:last-child { float: right; }*/


.subscription-options {
    margin: 5% 0 0;
    text-align: center;
}

div.subscription-options a {
    background-color: #FFFFFF;
    border-radius: 5px;
    color: #FF6501;
    font-size: 1.4em;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 25%;
}

.subscription-selection{
    margin-top: 3%;
    text-align: center;
}

.subscription-notification{
     display: none;
    color: #0000FF;
    font-size: 1.2em;
    margin-top: 2%;
    text-align: center;
    text-transform: uppercase;
}

.full-height{
    height: auto !important;
    padding: 0% 0% 2% 0%;
}

.full-snacks{
    margin: 0 0 0 3%;
    padding: 0 0 0 3%;
    width: 95%;
}

.sub-move-down{
    margin-top: 3%;
}

#new_create{
    margin-left: 37%;
    text-align: center;
    width: 25%;
}

#loading {
    width: 25%;
    left: 38%;
    top: 35%;
    position: fixed;
    display: block;
    opacity: 0.7;
    z-index: 99;
    text-align: center;
    position: absolute;
}

#loading > img {
    width: 90%;
    height: 100%;
    border-radius: 20px;
}

.snack-update-list{
    margin-left: 17%;
}

#new_card{
    display: none;
    padding: 0% 2% 0% 2%;
}
#existing_card{
    display: none;
}

#new_address{
    display: none;
}

#payment_area{
    text-align: center;
}

#new_sub_incomplete_cart {
    text-align: center;
    padding: 1% 0% 2% 0%;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF0000;
    font-size: 1.2em;
    position: relative;
}
#new_sub_incomplete_cart div {
    position: absolute;
    left: 41%;
    display: none;
}

#cur_plan{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: darkslateblue;
    text-transform: uppercase;
    padding: 2% 0% 1% 0%;
}

.payment-confirm{
    text-align: center;
    margin: 5% 0% 5% 0%;
    text-transform: uppercase;
    /*font-family: bold-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.payment-confirm a {
    background-color: #39a848;
    border-radius: 2.5px;
    color: #ffffff;
    font-size: 1.3em;
    padding: 0.7% 3%;
    opacity: 0.85;
}

.payment-confirm a:hover{
    text-decoration: none;
    opacity: 1;
}

.visible{
    display: block;
}

#payment_choice{
    text-align: center;
    margin: 1% 0% 3% 0%;
}

#payment_selection{
    text-align: center;
    /*font-family: bold-font !important;*/
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold;
    text-transform: capitalize;
    width: 40%;
}

#sub_confirm_error{
    padding: 5% 0% 0% 0%;
    text-align: center;
    text-transform: uppercase;
    color: #FE6505;
    font-weight: bold;
    font-size: 1.7em;
}

#existing_address{
    display: none;
}

#existing_address_id div label {
    color: #292826;
    text-transform: capitalize;
    font-size: 1.2em;
    /*font-family: regular-font;*/
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.5em;
    display: inline;
    font-weight: 500;
    padding: 0% 0% 0% 1%;
}

/* css for the proceed button in shipping address page in new subscription creation */
#existing_address_btn {
    background-color: #39a848;
    border-radius: 2px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1% 0.5%;
    text-transform: uppercase;
    width: 30%;
}

#payment_address_mod{
/*text-align: center;*/
}


#new_address_id div, #billing_address_id div {
    margin: 4% 0% 0% 0%;
    position: relative;
}

#new_address_id div label, #billing_address_id div label{
    color: #000000;
}
#new_address_id div label.error, #billing_address_id div label.error{
    color: #FF0000;
    top: 54px;
}
#new_address_id div input.error, #billing_address_id div input.error {
    border: 1px solid #FF0000;
}

#new_address_id div input[type="text"], #billing_address_id div input[type="text"] {
    color: #000000;
    /*font-family: regular-font;*/
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    font-size: 1.1em;
}

div#checkbox_bill label {
    /*font-family: regular-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.98em;
    color: #000000;
    text-transform: uppercase;
}

.float-left{
    display:inline-block;
    margin: 0 !important;
    padding: 0;
    color: #FF0000;
    font-size: 1.1em;
}

.add-err{
    color: #FF0000;
}

#prcd_button{
    text-align: center;
    padding: 5% 0% 0% 0%;
}

#payment_ship_choice{
    text-align: center;
}

#address_selection {
    /*font-family: regular-font;*/
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    width: 50%;
    font-weight: bold;
}

#existing_address_id {
    margin: 2% 0% 0% 0%;
    text-align: left;
    padding: 2% 0% 0% 2%;
}

.invalid-entry{
    color: #FF0000;
}

.valid-entry{
    color: #000000;
}
.new-payment-load-position{
    display: block;
    height: 83% !important;
    margin: -12% 0 0 -18% !important;
    padding: 0 !important;
    width: 60% !important;
}

#new_payment_cc div {
    padding: 0% 0% 2% 0%;
    margin: 0% 0% 0% 0%;
}

#new_payment_cc > input {
    border-radius: 5px;
    margin: 5% 0 0;
}

#complete_queue div.subscription-row div.no-margin {
    margin: 2% 1% 0 0 !important;
}

#frizz_modal{
    width: 70%;
    margin-left: 16%;
    border-radius: 10px;
}

#new_payment_cc label {
    width: 100%;
    text-align: left;
}

#new_payment_cc input[type="text"] {
    width: 100%;
    padding: 0px 10px 0px 10px !important;
    height: 35px;
    /*font-family: bold-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #000000;
}

#frizz_modal modal-body{
    padding: 0px 10px 0px 10px !important;
}

#sgn_cc input[type="text"]{
    color: #000000;
    /*font-family: bold-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

/* css for the snack queue list page */
.sub-selection-list{
    text-align: center;
    padding: 2% 0% 2% 0% ;
}

#snack_update{
    text-align: center;
    width: 100%;
    padding: 3% 0% 3% 0%;
}

/* css for the snacks queue confirmation page */

.confirmed-orders{
    padding-bottom: 3%;
}

#incomplete_snack_queue{
    display: none;
    text-align: center;
    width: 70%;
    /*font-family: bold-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FF0000;
}

#snack_subscription_list{
    float: left;
    padding-left: 3%;
}

#change_subscription_type{
    float: right;
    /*font-family: bold-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: -4%;
    padding-right: 7%;
    text-transform: uppercase;
    width: 31%;
}

#change_subscription_type a{
    width: 100%;
}

#snack_subscription_list  div.bootstrap-select{
    width: 300px;
}
.dropdown-menu li {
    text-align: left;
}
/* for the image hover remove effect in snack queue page */

.cart-row-snack{
    position: relative;
}
.snack-remove, .ship-hover{
    background-color: #000000;
    opacity: 0.75;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    text-align: center;
    max-height: 180px;
    min-height: 175px;
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
}

.snack-remove-message, .ship-message{
    color: rgb(255,179,0);
    /*font-family: bold-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 45%;
    text-transform: uppercase;
}

/*  start of for the image hover effect in update subscription page */

.update-page-snack-remove{
    background-color: #000000;
    opacity: 0.75;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    text-align: center;
    max-height: 180px;
    min-height: 175px;
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
}

.update-page-snack-remove-message{
    color: rgb(255,179,0);
    /*font-family: bold-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 45%;
    text-transform: uppercase;
}

.update-snack-box{
    position: relative;

}
/* End of the image hover effect in update subscription page */

/* Start of the image hover effect in New Subscription Page */

.new-sub-snack-remove{
    background-color: #000000;
    opacity: 0.75;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    text-align: center;
    max-height: 180px;
    min-height: 175px;
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
}

.new-sub-snack-remove-message{
    color: rgb(255,179,0);
    /*font-family: bold-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    margin-top: 45%;
    text-transform: uppercase;
}

.new-snack-box{
    position: relative;
}

/* End of the image hover effect in the New Subscription Page */

form#new_payment_cc label {
    width: 100%;
}

div#update_incomplete_queue {
    text-align: center;
    margin-top: 3%;
    font-size: 1.3em;
    color: #FF0000;
    font-weight: bold;
    min-height: 36px;
}

.move-center{
    width: 100%;
    text-align: center;
}

#new_add_btn, #new_billing_btn, #add_cc_card{
    width: 45%;
    text-align: center;
    margin: 2% 0% 0% 0%;
    background-color: #39A848;
    border-radius: 3px;
    /*font-family: regular-font;*/
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

select#date_year{
    width: 48%;
}
select#date_month{
    width: 48%;
}

.set-image{
    height: 138px;
}

.queue-tile img{
    width: 100%;
    height: 100%;
}

#time_left {
    /*font-family: bold-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    font-size: 0.65em;
    padding: 2%;
}

#show_text {
    /*font-family: bold-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 6pt;
    margin-left: 49%;
    margin-top: -18px;
}
/*Css for the credit card payment section in create new subscription page */
 #subscription_payment div label {
    text-align: left;
    color: #000000;
    display: block;
}

#subscription_payment div input[type="text"] {
    text-align: left;
    color: #000000;
    display: block;
    width: 100%;
}

#expiration_div div select{
    width: 100%;
}

#payment_card_error{
    color: #FF0000;
    position: absolute;
    bottom: 0px;
    top: 3%;
    height: 7%;
    left: 33%;
    font-weight: bold;
    display: none;
}
#creditcard_cvv, #spree_user_creditcards_attributes_0_cvv{
    /*-webkit-text-security: disc;
    -moz-text-security: disc;
    text-security: disc;*/
    color: #000000;
}

#queue_modal_header{
    position: relative;
}

#queue_cart_delivery_date{
    position: absolute;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    left: 89px;
    line-height: 45px;
    padding: 0% 1% 0% 1%;
}


#queue_snack_list_title{
    color: #FF6501;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px !important;
    padding-top: 2%;
    text-align: center;
    text-transform: uppercase;
}


.snack-added{
    text-align: center;
    color: #000;
    position: absolute;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
}

#snack_notify {
    position: relative;
    padding: 1% 0% 2% 0%;
    text-align: center;
}

#snack_queue_modal_body{
    padding: 0%  !important;
}

#queue_updated_title{
    color:#FE6505;
}

#updated_body {
    padding: 10% 5% 10% 5% !important;
    text-align: center;
}

div#updated_body div {
    font-size: 1.6em;
    font-weight: bold;
}

.update-sub-but{
    text-align: center;
    padding: 4% 0%;
}

.vegan-sub-btns {
    /*border: 1px solid red;*/
    padding: 1% 1% 1% 1%;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 0% 0.5%;
}

.vegan-sub-btns:hover{
    text-decoration: none;
    color: #FFFFFF;
}

#sub_pay_update {
    background-color: rgba(255, 102, 0, 0.9);
}

#sub_pay_update:hover{
   background-color: rgba(255, 102, 0, 1);
}


#cancel_subscription_submit {
    background-color: rgba(255, 0, 0, 0.75);
}

#cancel_subscription_submit:hover{
    background-color: rgba(255, 0, 0, 0.87);
}

#update_subscription_submit{
    background-color: #39A848;
    color: #FFFFFF;
}

#update_subscription_final {
    background-color: #39A848;
    color: #FFFFFF;
    padding: 1% 1.3% 1% 1.3%;
    border-radius: 3px;
    margin: 0%;
}

#update_subscription_final:hover{
    background-color: #1FA41D;
}

#update_subscription_submit:hover{
    background-color: #1FA41D;
}

#pause_subscription_submit {
    background-color: rgba(84, 82, 36, 0.70);
}

#pause_subscription_submit:hover{
    background-color: #525023; /*#3D5A98;*/
}

.cancel-danger{
    background-color: rgba(255, 0, 0, 0.70);
    color: #FFFFFF !important;
}

.cancel-danger:hover{
    background-color: rgba(255, 0, 0, 0.87);
    color: #FFFFFF;
}

.pause-warning{
    background-color: rgba(84, 82, 36, 0.70);
    color: #FFFFFF !important;
}

.pause-warning:hover{
    background-color: rgba(84, 82, 36, 0.87);
    color: #FFFFFF;
}

/* css for the Cancel button */
#subscription_confirm_footer button.btn-default {
    padding: 1.5% 3%;
}

.dyna-confirm{
    text-transform: lowercase;
}

.dyna-confirm:first-letter{
    text-transform: uppercase;
}

.current-sub{
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Arial;
    font-size: 1.1em;
}

#cancel_sub_button{
    text-align: center;
    padding: 4% 0% 4% 0%;
}

div#no_subscription {
    text-align: center;
    padding: 3% 0%;
    margin: 3% 0% 0%;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
}

#no_subscription div {
    padding: 3% 0% 4% 0%;
    background-color: #FFFFFF;
    width: 40%;
    margin: 0% 0% 0% 30%;
    border-radius: 5px;
}

/* css for the cancel subscription modal window */

/*#subscription_cancellation_modal {*/
#subscription_confirm_modal{
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*#confirm_cancellation_header {*/
#subscription_confirm_header {
    text-transform: capitalize;
    font-size: 1.7em;
}

/*#confirm_cancellation_body {*/
#subscription_confirm_body{
    text-transform: lowercase;
}

#subscription_confirm_body:first-letter{
/*#confirm_cancellation_body:first-letter{*/
  text-transform: capitalize;
}

/*#confirm_cancellation{*/
#subcription_confirmation {
    background-color: rgba(255, 0, 0, 0.87);
}


/*#confirm_body div:first-letter {*/

.cap-me{
    text-transform: lowercase;
}

.cap-me:first-letter{
    text-transform: uppercase;
}

