/* CSS for the Individual blog display Section */
/* CSS for the Individual blog display Section */
.blog_post{
    margin-left: 5%;
    width: 75%;
}

.blog-content{
    font-family: Arial, Helvetica, sans-serif !important;
}
.blog_component{
    margin-top: 2%;
}

.post_title {
    /*color: #FB6000;*/
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    /*margin: 8% 0% 3% 0%;*/
    text-transform:  capitalize;
}

.social-share-top {
    margin-left: 10%;
}

.left_content{
    width: 60%;
    margin-left: 10%;
    /*font-family: 'regular-font';*/
    font-family: Arial, Helvetica, sans-serif;
    float:left;
}

.right_content{
    border: 1px solid #CCCCCC;
    float: right;
    margin-right: 5%;
    padding: 2%;
    width: 20%;
}

div.show-latest {
    width: 20%;
    margin-left: 4% !important;
}

.right_content img {
    width: 100%;
    padding: 0% 0% 10% 0%;
    border-radius: 10px;
}


.right_content > .recent_post {
    /*font-family: 'regular-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    padding: 0 8% 8%;
    text-align: center;
    text-transform: uppercase;
    color: #3CAB42;
}

.footer_section{
    float: left;
    width: 70%;
    padding-top: 15px;
}

.comment-section{    margin-left: 15%; }

.complete-comment{
    background-color: #F8F8F8;
    border: 1px dashed;
    margin: 2%;
    padding: 3%;
    /*font-family: 'regular-font';*/
    font-family: Arial, Helvetica, sans-serif;
}
.user-comment{
    font-family: roboto_normal;
    margin: 30px 8px 8px;
    padding: 1px;
    width: 80%;
}

.commenter {
    font-weight: bold;
    font-size: 18px;
    margin-left: 2%;
    text-decoration: underline;
    text-transform: uppercase;
}


.comment{
    margin-left: 5%;
    font-size: 16px;
}

.test{    padding: 10%; }

#error{  padding: 10%;  }

#post_content > p {
    /*font-size: 1.3em;*/
    padding-top: 10px;
}

#post_content > img {
    border-radius: 10px;
}

.disqus {
    /*padding-left: 35px;*/
    width: 712px;
}


/*----------------------------------------------- CSS for the social Share button  at the top----------------------------------------------- */

.social-share-button{
    margin-left: 20%;
    margin-top: 5%;
    padding: 0;
    width: 25%;
}

.social-share-button > a{
    background-color: #FF0000;
}


/*----------------------------------------------- CSS for the social Share block section at the bottom  ----------------------------------------------- */

.share-block{
    margin-left: 22%;
    margin-top: 2%;
    padding: 2%;
    width: 55%;
}

.share-block > a{
    color: #000;
    padding: 2%;
    margin: 0.5%;
}

.tag_list{
    font-family:  "regular-font";
    font-size: 129%;
    line-height: 225%;
    /*margin-left: 6%;*/
    text-align: center;
    width: 124%;
    padding: 4%;
    border-top:2px solid #000000;
    border-bottom: 2px solid #000000;
}

.tag_list > span{  cursor: pointer;  }

.tag_list > span > a{
    color: #000;
    border: 1px dashed;
    padding: 2%;
    margin: 0.5%;

}

.carousel {
    line-height: 1;
    position: relative;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    line-height: 1;
    margin-left: 4%;
    margin-top:  4%;
}


.center-feature{     text-align: center;  }

h5 {
    overflow: hidden;
    text-align: center;
    color: #3CAB42;
    font-weight: bold;
}

.latest-post-title{
/*    font-family: bold-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    margin: 7% 0 0;
    text-align: center;
    text-transform: uppercase;
}

.move-right{
    margin-left: 13%;
}
.border-line{
    border: 1px solid #CCCCCC;
}
.latest-post-image{
    padding: 8%;
    width: 85%;
    border-radius: 25px;
}

.recipe-blogged{
    /*font-family: 'bold-font';*/
    color: #5F5F5F;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold;
}
.recipe-blogged > span {
    text-decoration: underline;
    padding-right:1px;
}


.recipe-name a{
    color: #000;
    /*font-family: 'bold-font';*/
    font-size: 1.2em;
    text-align: center;
    text-transform: capitalize;
    width: 75%;
    margin-bottom: 5%;
    letter-spacing: 0.03em;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold;
}
.recipe-name a:hover{
    text-decoration: none;
}

.recipe-item{
    text-align: center;
    padding: 1px;
}

/* --------------------CSS for the top featured post title part------------------------- */

.blog-top-title{
    color: #FB6000;
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.9em;
    margin: 7% 0 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.featured-post-up {
    font-size: 2em;
    width: 100%;
    text-align: center;
    color: #3CAB42;
    font-weight: bold;
    text-transform: uppercase;
}

.feature-post-up span{
    display: inline-block;
    padding: 0% 2% 0% 2%;
}

/* ---------------------- CSS for the recipe description Section ------------------------ */
.recipe-item div:last-child {
    color: rgba(0, 0, 0, 0.698);
    font-family: 'regular-font';
    font-size: 1em;
    margin: 0 0 0 4%;
    text-align: center !important;
    width: 90%;
    word-wrap: break-word;
}

/* -----------------------CSS for the recent post section ---------------------------------- */

.recent-post-section {margin: 5% 1% 0 -1%; }

.recent-section { margin-top: 2%; }

.recent-recipe-name a{
    color: #FF6505;
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.03em;
    text-align: left;
    margin-left: -4%;
    text-transform: uppercase;
}

.recent-recipe-name a:hover{
    text-decoration: none;
}
.lat-recipe {
    text-align: center;
    margin-top: -5%;
    word-wrap: break-word;
}

div.recipe-item > div.left-context{
    float: left !important;
}

.left-item div:last-child {
    padding-top: 3%;
    width: 90%;
}

.recent-borders {
    overflow: hidden;
    text-align: center;
    color: #3CAB42;
    font-weight: bold;
    padding-left: 4%;
    text-transform: uppercase;
}

.recent-borders:after {
    background-color: #CCCCCC;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    margin-left: -3%;
    margin-bottom: 2%;
}

.recent-borders:before {
    right: 0.5em;
}
.recent-borders:after {
    left: 0.5em;
}


/* ----------------------- CSS for the jcarousel ---------------------------  */

.jcarousel-wrapper {
    max-height: 305px;
    width: 75%;
}

.jcarousel {
    height: 300px;
    margin: -11px 5px 5px 0;
    width: 100%;
    border-radius: 6px;
}


.jcarousel-control-prev {
    background-color: #FFFFFF !important;
    color: #FFFFFF !important;
    margin: -6% 0% 0% 7%;
}

.jcarousel-control-next {
    background-color: #FFFFFF !important;
    color: #FFFFFF !important;
    margin: -6% 0% 0% 0%;
    right: 25px;
}
.cl-image{
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    background-size: cover;

}

.move-bit-bottom{
    margin-top: 3%;
}

.legend-title{
    background-color: #CCCCCC;
    height: 1.1px;
    margin-bottom: 4%;
    text-align: center;
}

.inner-span{
    background-color: white;
    position: relative;
    top: -0.4em;
    margin: 0% 0% 0% 5%;
}

/* -- CSS for the images present on  Feature post &  Recent posts Section -- */

/*
.feature-image:hover{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1) ;
    -o-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 8px ;
}
*/

.feature-image{
    -webkit-transition:all 500ms linear;
    -moz-transition:all 500ms linear;
    -o-transition:all 500ms linear;
    -ms-transition:all 500ms linear;
    transition:all 500ms linear;
    width: 100%;
    height: 100%;
    max-height: 196px;
}

.col-md-4 .set-div-image{
    margin-right: 4%;
}

.set-div-image div{
    overflow: hidden;
    border-radius: 6px;
    width: 100%;
}

.feature-image:hover{
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  background: rgba(0,0,0,0.5);
}


/*  we can add this class dynamically through javascript, for now using above :hover effect only */

.feature-image-transition {
    -webkit-transform: scale(1.6);
    -moz-transform: scale(1.6);
    -o-transform: scale(1.6);
    transform: scale(1.6);
}

.read-post {
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    color: #FFFFFF;
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding: 1% 3%;
    text-transform: uppercase;
    z-index: 10;
    position: absolute;
    /*top: 160px;
    left: 418px;*/
    margin-left: 40%;
    margin-top: 14%;
}

.read-post:hover{
    cursor: pointer;
    list-style-type: none !important;
}

.read-post > a {
    color: rgba(255, 255, 255, 0.8);
}

.read-post > a:hover, a:focus{
    text-decoration: none;
    outline: none;
    color: rgba(255, 255, 255, 1);
}

.slide-header-title{
    color: #FFFFFF;
    /*    font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.0em;
    left: 23%;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 53%;
    word-wrap:break-word;
    z-index: 10;

}

.slide-header-title:hover{
    cursor: pointer;
}

.slide-header-title > a {
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    line-height: 30px;
}

#hidden_snack_list{
    display: none;
}

.add-comment{
    margin-left: 7%;
    width: 95%;
    font-family: Arial, Helvetica, sans-serif !important;
}

.add-comment-element{
    padding: 2%;
    display: block;
    font-family: Arial, Helvetica, sans-serif !important;
}

.add-comment-element>label{

    float:left;
}
.add-comment-element>input,textarea{

    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 9px 0 0;
    padding: 4px;
    width: 94%;
}
form#new_comment{ margin:0 0 10px 0;}
/* css for the pagination section */

div.pagination span, div.pagination a, div.pagination em {
    padding-left: 3%;
}

div.pagination{
    width: 100%;
    font-family: bold-font;
}