/* CSS for the FancyBox which holds our Snack Details as a pop up View. */

.fancybox-close {
    cursor: pointer;
    height: 36px;
    left: -8px;
    position: absolute;
    right: -18px;
    top: -15px;
    width: 36px;
    z-index: 8040;
}

.left-show {
    float: left;
    font-family: 'regular-font';
    padding: 2%;
    text-align: center;
    width: 50%;
}

.right-show{
    float: right;
    height: 100%;
    padding: 2%;
    width: 35%;
}
.snack-show-name{
    color: #FF6803;
    font-family: regular-font;
    font-size: 4em;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.vg-snack-cont{
    color: #333333;
    font-size: 1.2em;

}