
/*for note8 Landscape */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/* for note 8 portrait  View*/
@media screen and (min-width: 620px) and (max-width: 750px){

}

/* For  samsung s3 Landscape */
@media screen and (min-width: 620px) and (max-width: 750px) and (orientation : landscape){

    .snacks-title{
        margin: 15% 0% 0% 0% !important;
    }
    .save-planet-content{
        margin: 2% 0% 0% 0% !important;
    }
    .snacks-title h1{
        font-size: 0.6em;
    }
    .vg-snack-cont{
        font-size: 0.89em;
    }

    .snack-image {
        width: 100%;
        height: 100%;
        max-height: 200px;
    }

    .moble-back-view{
        height: 345px;
    }
    div.snck-benfits {
        width: 50%;
        display: inline-block;
        float: right;
    }

    #ind_snacks_render {
        width: 75%;
        max-height: 333px;
        margin-left: 12% !important;
        margin-top: 8% !important;
    }

    .banana-split{
        font-size: 0.8em !important;
        font-weight: bold;
        padding: 0% !important;
        margin-top: -5% !important;
    }
    .banana-image{
        width: 80% !important;
       margin-left: 8%;
        border-radius: 5px;
    }
    .nutro-fact-mbl{
        display: none;
    }
    .benfit-section{
        display: none;
    }
    .close-individual {
        font-size: 2em;
        margin: -6% 0 5% -3%;
        padding-top: 2%;
        padding-left: 2%;
    }
}

/* for Samsung s3 Portrait */
@media screen and (min-width: 320px) and (max-width: 479px){

    .snacks-title{
        margin: 15% 0% 0% 0% !important;
    }
    .save-planet-content{
        margin: 2% 0% 0% 0% !important;
    }
    .snacks-title h1{
        font-size: 0.6em;
    }
    .vg-snack-cont{
        font-size: 0.89em;
    }

    .snack-image {
        width: 100%;
        height: 100%;
        max-height: 200px;
    }

    .moble-back-view{
        height: 345px;
    }
    div.snck-benfits {
        width: 50%;
        display: inline-block;
        float: right;
    }

    #ind_snacks_render {
        width: 75%;
        max-height: 333px;
        margin-left: 12% !important;
        margin-top: 8% !important;
    }

    .banana-split{
        font-size: 0.8em !important;
        font-weight: bold;
        padding: 0% !important;
        margin-top: -5% !important;
    }
    .banana-image{
        width: 80% !important;
        margin-left: 8%;
        border-radius: 5px;
    }
    .nutro-fact-mbl{
        display: none;
    }
    .benfit-section{
        display: none;
    }
    .close-individual {
        font-size: 2em;
        margin: -6% 0 5% -3%;
        padding-top: 2%;
        padding-left: 2%;
    }

    span.initCap{
        font-size: 0.5em;
    }
    .tick {
     margin: 0% 0% 0% 0% !important;
     padding: 0% 0% 0% 0% !important;
     height: 10px !important;
    }
    .moble-back-view {
        height: 260px;
    }

   div.box-image  div.white-title > h1 {
        font-size: 1.5em !important;
    }
    .ind-item-name{
        font-size: 0.95em !important;
    }

    div.whats-box-snacks > div.ind-item-section {
        max-height: 200px !important;
        max-width: 240px !important;
        min-height: 195px !important;
        min-width: 256px !important;
    }
}


/*for iphone landscape */
@media screen and (min-width: 480px) and (max-width: 600px) and (orientation: landscape){

    .snacks-title{
        /*margin: -5% 0% 0% 0% !important;*/
        padding: 0% 0% 0% 0% !important;
        width: 100% !important;
      }
    .save-planet-content{
        margin: 2% 0% 0% 0% !important;
    }
    .snacks-title h1{
        font-size: 0.6em;
        margin-top: -15% !important;
    }
    .vg-snack-cont{
        font-size: 0.89em;
    }

    div.snck-benfits div span.initCap {
        font-size: 0.8em;
    }

    .tick{
        padding: 0% !important;
    }
    .snack-image {
        width: 100%;
        height: 100%;
        max-height: 150px;
    }

    .moble-back-view{
        height: 275px;
    }
    div.snck-benfits {
        width: 50%;
        display: inline-block;
        float: right;
    }

    #ind_snacks_render {
        width: 75%;
        max-height: 333px;
        margin-left: 12% !important;
        margin-top: 8% !important;
    }

    .banana-split{
        font-size: 0.8em !important;
        font-weight: bold;
        padding: 0% !important;
        margin-top: -5% !important;
    }
    .banana-image{
        width: 80% !important;
        margin-left: 8%;
        border-radius: 5px;
    }
    .nutro-fact-mbl{
        display: none;
    }
    .benfit-section{
        display: none;
    }
    .close-individual {
        font-size: 2em;
        margin: -6% 0 5% -3%;
        padding-top: 2%;
        padding-left: 2%;
    }

}


/*for iphone portrait */
@media screen and (min-width: 480px) and (max-width: 600px){


    .snacks-title{
        margin: 10% 0% 0% 0% !important;
        padding: 0% 0% 0% 0% !important;
        width: 100% !important;
    }
    .save-planet-content{
        margin: 2% 0% 0% 0% !important;
    }
    .snacks-title h1{
        font-size: 0.6em;
        margin-top: 10% !important;
    }
    .vg-snack-cont{
        font-size: 1.2em;
        line-height: 1.0em;
    }

    div.snck-benfits div span.initCap {
        font-size: 0.8em;
    }

    .tick{
        padding: 0% !important;
    }
    .snack-image {
        width: 100%;
        height: 100%;
        max-height: 200px;
    }

    .moble-back-view{
        height: 275px;
    }
    div.snck-benfits {
        width: 50%;
        display: inline-block;
        float: right;
    }

    #ind_snacks_render {
        width: 75%;
        max-height: 333px;
        margin-left: 12% !important;
        margin-top: 8% !important;
    }

    .banana-split{
        font-size: 0.8em !important;
        font-weight: bold;
        padding: 0% !important;
        margin-top: -5% !important;
    }
    .banana-image{
        width: 80% !important;
        margin-left: 8%;
        border-radius: 5px;
    }
    .nutro-fact-mbl{
        display: none;
    }
    .benfit-section{
        display: none;
    }
    .close-individual {
        font-size: 2em;
        margin: -6% 0 5% -3%;
        padding-top: 2%;
        padding-left: 2%;
    }

}