.contact-page{
    background: url('/assets/vegan-contact/vegan_contact_low.jpg');
    background-size: 100% 100%;
}

.link-question{
    text-decoration: none !important;
    color: #979CA0 !important;
}

.contact-title{
    color: #F4700B;
    text-align: center;
    margin: 8% 0% 0% 0%;
}

.contact-title h1{
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3.0em;
}

.search {
    background-color: rgba(255, 255, 255, 0.85);
    height: 100%;
    border-radius: 5px;
}

.search-section{
    margin: 4% 0% 0% 2%;
}

.search-section > input {
    width: 80%;
    height: 44px;
    margin: -1px 0% 0% 0%;
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 2%;
    border-radius: 5px;
}

.search-section > button{
    background-color: #FFB600;
    color: #FFFFFF;
    display: inline-block;
    height: 43px;
    margin: -3px 0 0 -3%;
    text-transform: uppercase;
    width: 20%;
}

.right-row{
    border-right: 1px solid #9A9C94;
    padding: 0 0 0 5%;
}

.change-color{
    color: #424242;
}

 .question-list{
     text-align: left;
     color: #FC6406;
    /*font-family: 'bold-font';*/
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     font-size: 1em;
     padding-bottom: 1.3%;
     text-transform: capitalize;
}

.question-listed{
    float: left;
    list-style: none;
}

.contact-details{
    padding: 0% 0% 0% 4%;
}

.right-row h3, .contact-details h3{
    text-transform: uppercase;
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}


.contact-listed{
    float: left;
    padding: 5% 0% 0% 0%;
    margin: 2% 0% 0% 0%;
}

.contact-listed span {
    color: #FC6406;
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
}


.contact-listed li, .question-listed li {
    color: #979CA0;
    /*font-family: 'regular-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.06em;
    list-style: none;
}

.contact-listed:nth-child(3) {
    margin: 10% 0 0;
}
