/* CSS for the complete Dash board section */
.profile-body{
    background-color: #E1E1E1;
    position: relative;
}

.profile-body .row{
    margin: 3% 0% 0% 0%;
}

.account-title {
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3em;
    padding: 9% 0 0;
    text-align: center;
    text-transform: uppercase;
    color: #FF6302;
}

.dash-body{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 5%;
}

.change-font-size {
    font-size: 1.1em;
}

.account-head{
    margin: 2%;
    border-bottom-style: groove;
    border-bottom-width: 1px;
    padding-bottom: 3%;
}

.account-context {
    /*border-bottom-style: groove;
    border-bottom-width: 1px;
    padding-bottom: 3%;
    */
}
#credit_card_section{
    border-bottom-style: none;
}

.account-context > div { padding: 0.4% 0% 0% 0% !important; }

.head-title-view{
    /*font-family: 'regular-font'; */
    font-family: Arial, Helvetica, sans-serif;
}

.my-acc{
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FF6302;
    display: inline-block;
    width: 40%;
}

.edit-acc {
    display: inline-block;
    float: right;
    font-size: 0.9em;
    text-transform: uppercase;
    width: 40%;
}

.edit-acc div {
    color: #41A744;
    cursor: pointer;
    padding: 0 0 0 12%;
    display: inline;
}

#new_add_link {
    float: right;
}

#edit_account, #change_password{
    float: right;
}

#subscription_create {
    float: right;
    padding: 0 0 5%;
}

#subscription_cancel a{
    float: right;
    color: #41A744;
}

#subscription_cancel a:hover {
    text-decoration: none;
}


.personal-info{ margin: 1% 0% 0% 0%; }

.account-context div{ padding: 2% 0% 0% 0%;}


.account-context span:nth-child(1) {
    /*font-family: 'bold-font';*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 1.1em;
}

#account_hidden_data{ display: none; }

.no-border{ border-style: none; }


.modal-title {
    /*font-family: regular-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    text-transform: capitalize;
}
.modal-line{ padding-top: 4%; }

.min-padding div{padding: 1% !important; }

#personal_profile_update input[type="button"] {
    color: #FFFFFF;
    font-size: 1em !important;
    height: 90% !important;
}



.error-section div{ padding: 2%; }

.error-section input{
    color: #000000 !important;
    font-size: 1em !important;
    height: 90% !important;
}

.update-notification {
    color: #39A848;
    font-size: 1.2em;
    /*font-family: 'regular-font';*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    padding: 1% 0% 0% 0%;
    text-transform: uppercase;
    min-height: 25px;
    display: none;
}

.edit-style{
    color: #41A744;
    cursor: pointer;
}

/* ----------- CSS for the top headers My Account Section ------ */
#proper-nav > li.header-dropdown > ul > li > a {
    text-transform: capitalize;
    text-align: center;
    padding-top: 5%;
    font-size: 1.1em;
    /*font-family: 'regular-font';*/
    font-family: Arial, Helvetica, sans-serif;
}

#proper-nav > li.header-dropdown > ul > li{ border-radius: 5px; }

#proper-nav > li.header-dropdown > a.btn { color: #FFFFFF; }

#subscription_show_modal{
    height: 70%;
    margin: 10% 0% 0% 25% !important;
    width: 60%;
}

#subscription_show_modal_content{
    height: 100%;
    width: 80%;
}

.new-subscription-selection {
    text-align: center;
    /*font-family: bold-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.cc-holder-name{
    display: inline-block;
    width: 15%;
    word-wrap: break-word;
    font-weight: bold;
}

div#card_results span {
    padding: 0% 3% 0% 2%;
    font-weight: bold;
}

#edit_cc_card{ text-align: center; }

div#edit_cc_card div { margin: 2% 0; }

div#edit_cc_card div input { text-align: center; }

#card_error > span { margin-left: 30%; }

.row-back{ background-color: #E1E1E1; }

#subscription_create, #subscription_create a, #subscription_create a:hover{
   color: #41A744 !important;
   text-decoration: none !important;
}

.small-group{
    display: inline-block;
    width: 48%;
    margin-bottom: 0%;
}

#move_add_up{
 margin-top: -19%;
}
    /* css for the subscription modal window in profile page */
.sub-modal-body{
    padding: 1% 0% 1% 0%;
    text-transform: capitalize;
    text-align:center;
}

#off_message {
    /*font-family: bold-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

div.sub-modal-body div {
    /*margin-left: 30%;*/
    padding: 2% 0;
}

.modal-header .close {
    /* margin-top: -2px; */
    width: 30px;
    height: 40px;
}


.address-err{
    color: #FF0000;
    font-weight: bold;
    min-height: 10px;
    text-transform: none;
    font-size: 0.94em;
}

#left_account {
    border-right-style: groove;
    border-right-width: 1px;
    padding: 1% 2% 0% 0%;
}

/* Right side contact us section in profile page */

#account_right {
    padding: 12% 0 0 5%;
}

#contact_us_title {
    /*font-family: bold-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    padding: 0 0 0 5%;
}

.account-contact {
    padding: 10% 0 0;
}

div.account-contact div:nth-child(1) {
    color: #FF6302;
    /*font-family: bold-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}

div.account-contact div {
    font-size: 1.1em;
}

/* for newly added address section */
div#add_data {
    display: inline-block;
    width: 48%;
    padding: 2% 0% 0% 0%;
}

div.edit-add-acc div {
    display: inline-block;
    width: 35%;
    font-size: 1.0em;
    color: green;
    padding: 0% 0% 3% 0%;
    cursor: pointer;
}

div.edit-add-acc {
    padding: 5% 0% 0% 0%;
    text-transform: uppercase;
}

div.inactive-add{
      color: #000000 !important;
    cursor: default !important;
}

a.turn-blue{
    color: green;
}
a.turn-blue:hover{
    text-decoration: none;
}

select#address_address_type {
    width: 100%;
    height: 25px;
    font-size: 1.1em;
}

#address_profile_update div.form-group input[type="text"] {
    color: #000000;
    /*font-family: regular-font;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em !important;
    text-transform: capitalize;
}

div#personal_profile_update label.error {
    left: 0;
    position: relative;
    top: 0;
}

/* For profile image at the top of account page */
/*
#drop_list{
    width: 30%;
}
#drop_list a{
    padding: 2%;
}

#drop_list ul {
    width: 100%;
}
*/

div.edit-add-acc div.active-add, div.inactive-add {
    cursor: default !important;
}

/* css for the password modal */
form#password_update_form div {
    position: relative;
    padding: 0% 2% 3% 0%;
    /*font-family: regular-font;*/
    font-family: Arial, Helvetica, sans-serif;
}

#password_update_form div input.error {
    border: 1px solid red;
}

form#password_update_form div label.error {
    position: absolute;
    top: 53px;
    color: #FF0000;
}

#password_update_form div input[type="password"] {
    color: #404042;
}
#password_update_form div div label{
    color: #404042;
}

#password_footer input {
    padding: 1% 5% 1% 5%;
    margin: 2% 0% 0% 0%;
    border-radius: 3px;
}

#password_footer input[type="button"] { /* cancel button */
    background-color: #404042;
}

#password_footer input[type="submit"] { /* update password button */
    color: #FFFFFF;
    background-color: #39A848;
}


/* Address update modal */

#address_profile_update div label.address-err {
    color: #FF0000;
    position: absolute;
}

#address_profile_update div label {
    color: #404042;
}

form#new_address div.modal-footer input[type="button"]{
   background-color: #404042;
}
form#new_address div.modal-footer input[type="submit"]{
    background-color: #39A848;
}

form#new_address div div {
    padding: 0% 0% 4% 0% !important;
    position: relative;
}

/* Css for the forgot password section */

#forgot_password_form div {
    position: relative;
    padding: 0% 0% 5% 0%;
}

#forgot_password_form div label.error {
    position: absolute;
    top: 53px;
    left: 0px;
}

#address_content form div {
    position: relative;
    padding-bottom: 3% !important;
}

.phone-form{
    padding-bottom: 0% !important;
}

#address_profile_update div label.error {
    position: absolute;
    color: #FF0000;
    top: 58px;
    left: 8px;
}


#address_profile_update div input.error {
    border: 1px solid #ff0000;
}

/*
#move_add_up div{
    padding: 0% 0% 5% 0%;
    position: relative;
}

#move_add_up div div.update-notification{
    position: absolute;
}
*/
#address_content form div.modal-footer input[type="button"] {
    background-color: #404042;
}

#address_content form div.modal-footer input[type="submit"] {
    background-color: #39a848;
}

#personal_profile_update div input[type='text'], input[type='email'] {
    color: #000000;
    font-family: Arial;
}

#personal_profile_update div input.error {
    border-color: #FF0000;
}

#sub_selection_footer input {
    border-radius: 3px;
}

#can_button{
    background-color: #404040;
}

#add_sub{
    background-color: #39a848;
}

/* Subscription cancellation notification at top in profile page */
#sub_can_notify{
    text-align: center;
    padding: 2% 0% 2% 0%;
    font-weight: bold;
    position: absolute;
    left: 35%;
}
.succ-msg{
    color: rgba(0, 128, 0, 0.9);
}

.unathorized-error{
    color: rgba(255, 0, 0, 0.87);
}
/*
.sub-resumed{
    color: #39A848;
}
*/

#pay_info{
    color: #FF6501;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.0em;
    font-weight: bold;
    padding: 1% 0% 1% 0%;
    text-align: center;
    text-transform: uppercase;
}

#pay_charge {
    font-size: 0.9em;
    /*padding: 0% 25% 0% 22%;*/
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#resume_form_submit {
    background-color: rgba(0, 128, 0, 0.8);
    border-radius: 3px;
}

#resume_form_footer {
    text-align: center;
    padding: 4% 0% 2% 0%;
}

#sub_resume {
    padding: 0.5% 2% 0.5% 2%;
    background-color: rgba(0, 128, 0, 0.85);
    color: white;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}


#profile_sub_list div.change-font-size {
    padding: 1% 0% !important;
}

#sub_resume:hover{
    background-color: rgba(0, 128, 0, 0.99);
    text-decoration: none;
}

#no_sub_found{
    text-align: center;
    font-weight: bold;
}
#sub_unblock{
    background-color: #0044cc;
    color: #FFFFFF;
    padding: 0.5% 1.5%;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 0.8em;
    font-style:normal;
}

#sub_unblock:hover{
    text-decoration: none;
}

div#profile_sub_list .blocked-subscription {
    color: #FF0000;
    padding-bottom: 0% !important;
    font-size: 1.1em;
    font-weight: bold;
}


.blocked-line {
    color: #FF0000;
    font-size: 0.85em;
}
