<% content_for :page_title do %>
  <%= Spree.t(:listing_orders) %>
<% end %>

<div id="order_page">

  <div id='order_range'>
    
  </div>

  <% if @orders.any? %>
    <div id="orders_list">
      <%= render :partial => "order_list" %>
    </div>

  <% else %>
    <div class="alpha twelve columns no-objects-found">
      <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/order')) %>!
  </div>
  <% end %>

</div>