<footer>
  <div class="footer-wrapper">
    <div class="footer-det">
	  <ul>VEGAN LIFESTYLE
	   <li><a href="#">Chef’s Blog</a></li>
	   <li><a href="#">Snack Nutritional Info</a></li>	   
	  </ul>
	  
	  <ul class="btmfootlist">ABOUT US
	   <li><a href="#">Chef Nay</a></li>
	   <li><a href="#">FAQ</a></li>	   
	  </ul>
	  
	  <ul class="large-width">CONTACT US
	   <li><a href="#">Call : (888) 793-7249</a></li>
	   <li><a href="#">Email: support@vegansnackpacks.com</a></li>  	  
	  </ul>
	  
	</div>
  </div>
  <div class="copyright">2014 Vegan Snack Packs. All Rights Reserved    I   <a href="/statics/term_conditions">  Terms and Conditions</a>    I   <a href="/statics/privacy_policy"> Privacy Policy</a></div>
  
</footer> 