<div class="slider-nav">
  <ul>
    <li class="active-bullet first-bullet" data-target=".about-us-container"> </li>
    <li class="second-bullet" data-target=".planet-container"> </li>
    <li class="third-bullet" data-target=".footer-section"> </li>
  </ul>
</div>


<div class="container about-us-container about-us-background">
    <div class="row-fluid">
        <div class="span12 first-win">
            <div class="about-title">
                <h1> ABOUT US </h1>
             </div>

            <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1 col-xs-9 col-xs-offset-1 top-buffer about-us-content">
                <div class="col-md-3 col-sm-3">
                    <%= image_tag("/assets/vegan-about/bg-cook.jpg", :alt => "Vegan Chef", size: "150X100", class: 'chef-image img-thubmnail')  %>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-9 about_us_wrapper ">
                    <div class="about-us-vision"></div>
                        Created by Vegan Chef Naomi Mariano, Vegan Snack Packs was designed to address the lack of healthy vegan snacks available throughout the United States. The organic food movement is well under way but the vegan movement is just beginning. Everyone from celebrities to athletes is recognizing the health benefits of incorporating a plant based diet lifestyle. Often when people think of plant based foods they think of eating like rabbit only munching on carrots and lettuce.Well Chef Naomi will quickly change that notion for you. Our Vegan Snack Pack line includes delicious granolas, crackers, macaroons, kale crisps and much more with new recipes being added monthly. <%= link_to 'Get Started.', "/#vegan_user_signup" %> 
                    </div>
              </div>
         </div> <!-- End of bg-image div section -->

      </div> <!-- End of the row fluid -->

</div> <!-- End of the container -->

<div class="container save-planet-image planet-container" id="save_planet">
    <div class="row-fluid">
        <div class="span12 second-win">
            <div class="save-planet-title">
                <h1> save the planet! </h1>
            </div>

            <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1 col-xs-9 col-xs-offset-1 top-buffer save-planet-content">

                <div class="col-md-7 col-sm-7  carbon-offset-content">
                    <div class="about-us-vision">Carbon Offset</div>
                    <div class ="name-meaning-content">
                        It’s estimated that by the year 2050 the majority of the planet will be eating vegan simply due to the strain on our natural resources that meat based diets puts on our planet. Eating vegan dramatically reduces the amount of water used and the amount of carbon released into the atmosphere. Here at Vegan Snack Packs we fully offset our carbon footprint as well as that ofour customers by investing in renewable solar energy. You can even track your impact in your account dashboard. Watch your consumption each month contribute to a greener and healthier world. 
                    </div>
                </div>

                <div class="col-md-5 col-sm-5 col-xs-12 offset-image">
                  <%= image_tag("/assets/vegan-about/pie-chart.png", :alt => "Pie Chart", size: "100X100", class: 'chart-image img-thumbnail') %>
                </div>

            </div>
        </div> <!-- End of Secon -->
</div> <!--end of row -->
</div> <!-- end of container -->




<!-- This is the footer section of this Complete Application -->
<div class="third-win">
<%= render 'statics/application_footer' %>
</div>