<div class = "container faq-section">
<h2>GENERAL QUESTIONS</h2>
<p class = "question-segment">What is Vegan Snack Packs?</p>
	<p>Vegan Snack Packs was designed to address the lack of healthy vegan snacks available 
	throughout the United States. Vegan Snack Packs is a snack subscription service that delivers 
	only the best vegan and organic snacks to your door. Our Vegan Snack Pack line includes 
	delicious granolas, crackers, macaroons, kale crisps and much more with new recipes being 
	added monthly.</p>

 
<p class = "question-segment">How do I get started?</p>
<p>You can get started right on our homepage www.vegansnackpacks.com. Welcome aboard!</p> 
 
<p class = "question-segment">Do Vegan Snack Packs come in different sizes?</p> 
<p>Yes we offer 3 snack subscriptions each delivered monthly. We have the Basic Snack Pack with 
5 snacks, the Double Snack Pack with 10, and the Family Snack Pack has 20.</p> 
 
<p class = "question-segment">I just signed up, now what?</p>
<p>Now its time to customize your first order. Go to your Snack Queue and start filling it up with 
snacks!</p>
<p class = "question-segment">How do I customize a box?</p>
<p>You can fully customize your snack box in your Snack Queue. It’s kind of like Netflix but for 
snacks.</p> 
 
<p class = "question-segment">Are there any additional fees?</p>
<p>We cover the shipping costs for delivery of our tasty snacks to the 48 contiguous US states. For 
delivery to Alaska, Hawaii, and Puerto Rico there is a nominal fee of $1.95.</p>
 
<p class = "question-segment">Is my box recyclable?</p>
<p>Yes we love the planet so please do your part.</p>
 
<p class = "question-segment">I have a coupon code, how do I use it?</p> 
<p>You can use your promo code right on our homepage when you sign up under your Billing 
Address.</p> 
 
<p class = "question-segment">How do I change my password?</p>
<p>Go to your Account page and you can update your password.</p>
 
<p class = "question-segment">How do I contact Vegan Snack Packs?</p>
<p>You can contact us right here by at info@vegansnackpacks.com or call us at (786) 405­9556.</p> 
 
<p class = "question-segment">I have a cool idea for Vegan Snack Packs!</p>
<p>Our team at Vegan Snack Packs would love to hear from you. You can email us 
info@vegansnackpacks.com</p>
 
<p class = "question-segment">Who should I contact for PR or press inquiries?</p>
<p>You can email us at info@vegansnackpacks.com </p>
 
<h2>SHIPPING, TRACKING, & DELIVERY</h2>
<p class = "question-segment">Where does Vegan Snack Packs deliver?</p>
<p>Currently we deliver tasty snacks to all 50 US states and Puerto Rico. Please note that there is a 
nominal fee of $1.95 charged for deliveries to Alaska, Hawaii, and Puerto Rico.</p>
 
<p class = "question-segment">Where is my snack pack?</p>
<p>You will receive an email notification with a tracking number for your box of snacks.</p> 
 
<p class = "question-segment">I received a delivery notice, but never received my snack box?</p>
<p>You can contact your local post office or use your tracking number to locate your snack box.</p>
 
<p class = "question-segment">My tracking information shows that my package was delivered but I don't have my box, 
what's up?</p> 
<p>Give your local USPS a call at 1­800­ASK­­USPS. If you are still having problems tracking your 
package you can always reach out to us at info@vegansnackpacks.com.</p>
 
<p class = "question-segment">Do I need to sign for my Vegan Snack Pack?</p> 
<p>Not at all. Upon final delivery your box will be waiting for you at your door.</p> 
 
<p class = "question-segment">How do I track my order?</p> 
<p>You will receive an email notification with a tracking number for your box of snacks.</p>
 
<p class = "question-segment">When can I expect my snack box?</p>
<p>Your first delivery will arrive within 2 weeks of your order. Thereafter you should receive your 
snack box around the same time each month.</p>
 
<p class = "question-segment">Do you charge for delivery?</p>
<p>Absolutely not. Delivery is covered by us!</p> 
 
<p class = "question-segment">How do I change my address?</p> 
<p>Go on your Account page and you can update your address information.</p>
<h2>BILLING AND CANCELLATION</h2> 
<p class = "question-segment">How do I update my payment Information?</p>
<p>Go on your Account page and you can update your payment information.</p>
 
<p class = "question-segment">How do I Cancel my subscription?</p> 
<p>We will miss you. You can cancel your ongoing subscription within 5 days of your recurring bill 
date. Your bill date is shown on your Account. Once an order has been billed and shipped we 
cannot provide a refund.</p> 
 
<p class = "question-segment">Can I put my membership on hold or skip a month of my subscription?</p>
<p>Absolutely. We allow you to put your subscription on hold at any time. You can reach us by 
phone or email and we will update your account. Please let us know 5 days prior to your bill date. 
Your bill date is shown on your Account. Once an order has been billed and shipped we cannot 
provide a refund.</p>
 
<p class = "question-segment">When will I be billed each month?</p>
<p>ou will be billed around the same time each month.</p>
 
<p class = "question-segment">What types of payment do you accept?</p>
<p>Visa, Mastercard, Discover, and American Express are the majors and we accept them all.</p>
 
<p class = "question-segment">Can I return my Vegan Snack Pack?</p>
<p>Unfortunately the FDA does not allow us to restock food items whether the box has been opened 
or not. The best way to ensure you get the snacks you want is to review your snack queue.</p>
 
<p class = "question-segment">I cancelled my Subscription but I just received a Vegan Snack Pack box. What 
happened?  
We require that you cancel 5 days before your next billing cycle, so it looks like you’re in luck you 
still get to eat our yummy snacks!</p> 
 
<p class = "question-segment">I just received an email stating my card has been declined. What Should I Do?</p> 
<p>Go to your Account page and you can update your payment information.</p> 
 
 
 
<h2>OUR SNACKS</h2> 
<p class = "question-segment">What comes in the box?</p>
<p>Depending on what you ordered we have 3 different snack boxes to choose from our Basic Pack 
contains 5 individual snack packs, the Double Pack contains 10 individual snack packs, and the 
Family Snack Pack contains 20 individual snack packs for you and others to enjoy! We also 
include in each box a leaflet about information and our products.</p> 
 
<p class = "question-segment">Can I choose my own snacks?</p> 
<p>Yes our Snack Queue is designed for your flexibility. For our Basic Snack Pack you can choose 
five different snacks or if you have one you love you can receive five orders of one particular 
snack.</p> 
 
<p class = "question-segment">How big are the snacks?</p>
<p>Our Basic Snack includes 5 snacks of your choice. Each snack your receive is approx 4oz 
except for our Nacho Kale Crisps which is 2oz.</p>
 
<p class = "question-segment">Are Vegan Snack Pack Snacks created in the US?</p>
<p>Yes, we source organic products from all over the world and prepare our snacks in the good ol’ 
US of A.</p> 
 
<p class = "question-segment">If I really like my Vegan Snack Pack, how can I get more?</p> 
<p>Absolutely, we offer multiple subscription models and you can add more than one for yourself 
and others. See the Update Subscription page for more details.</p> 
. 
<p class = "question-segment">My favorite snack is out of stock! Now what?</p>
<p>Vegan Snack Packs uses only the highest quality ingredients to prepare your snacks and from 
time to time we will not be able to source a particular ingredient. In the event your snack is not 
available please be patient with us as we will bring it back as soon as possible. In the meantime 
please try one of our other snacks, it may your new favorite.</p> 
 
<p class = "question-segment">Are Vegan Snack Packs organic?</p>
<p>Although our snacks don't have an organic certification, almost all (98%) the ingredients we use 
at Vegan Snack Packs are made from certified organic ingredients. Our ingredient list will 
specify if something is not organic. Organic certification is very costly and we are working very 
hard at getting it so all our clients can be reassured that we are using the highest quality 
ingredients in our delicious snacks.</p>  
 
<p class = "question-segment">Are Vegan Snack Packs vegan or vegetarian?</p> 
<p>Yes, we take great pride in providing the highest quality vegan snacks. Not only are they vegan 
but they are gluten free and prepared at a temperature below 118 degrees to ensure each snack 
is packed with nutrients.</p> 
 
<p class = "question-segment">Are Vegan Snack Packs gluten­free?</p>
<p>Yes, every snack we offer is vegan and naturally gluten free however the snacks are not 
produced in a certified gluten free facility.</p>
</div>