		<section class="content1-privacy">
			<div class="main-content1-abt">
				<div class="heading-main-cont-abt">
					<span>About </span> Us
				</div>
				<div class="para-cont-privacy">
					<p>The website located at www.ahimsacuisine.com and www.vegansnackpacks.com  (the “Site”) is a copyrighted work belonging to Ahimsa Cuisine Co (“Company”, “us”, “our”, and “we”).  Company provides a subscription food service that delivers packaged foods directly to consumers via post (collectively, with all other services provided through the Site, the “Services”).  Certain features of the Services or Site may be subject to additional guidelines, terms, or rules, which will be posted on the Service or Site in connection with such features.  All such additional terms, guidelines, and rules are incorporated by reference into this Agreement.
					</p>
					<p>
						These Terms of Use (“Agreement”) sets forth the legally binding terms for your use of the Site and Services.  By accessing or using the Site or Services, you are accepting this Agreement (on behalf of yourself or the entity that you represent) and you represent and warrant that you have the right, authority, and capacity to enter into this Agreement (on behalf of yourself or the entity that you represent).  You may not access or use the Site or Services or accept the Agreement if you are not at least 18 years old.  If you do not agree with all of the provisions of this Agreement, do not access and/or use the Site or Services.
					</p>
					<ol>
						<li>
						<p><strong>Accounts</strong>
							<ol type="1.1">
								<li>
									Account Creation.  In order to use certain features of the Site (e.g., to use the Services), you must register for an account with Company (“Company Account”) and provide certain information about yourself as prompted by the Site registration form.  You represent and warrant that: (a) all required registration information you submit is truthful and accurate; (b) you will maintain the accuracy of such information. You may delete your Company Account at any time, for any reason, by following the instructions on the Site.  Company may suspend or terminate your Company Account in accordance with Section 9.
								</li>
								<li>
									<strong>Account Responsibilities.</strong>You are responsible for maintaining the confidentiality of your Company Account login information and are fully responsible for all activities that occur under your Company Account.  You agree to immediately notify Company of any unauthorized use, or suspected unauthorized use of your Company Account or any other breach of security.  Company cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements.
								</li>
								<li>
									<strong>Promotional emails.</strong>  As a member, you agree to receive newsletters and promotional emails including third party offers.
								</li>
							</ol>
						</p>
						</li>
						<li>
						<p><strong>Payment Terms</strong>
							<ol type="2.1">
								<li>
									<strong>Ordering Services.</strong>  You may order the Service by following the directions on the Site.  Once you order the Service, your subscription to the Service will automatically renew every month until you cancel your Service by following the directions on the Site.  Company may change the pricing for the Services (from time to time in its sole discretion) by updating the Site and without any additional notice to you, provided that any changes will not take effect until your subscription renews. Company may send you token gifts, inclusive of your costs of the Service.
								</li>
								<li>
									<strong>Payment Terms.</strong>  If you order the Service, you agree to pay the then-current applicable Service fee listed on the Site at www.vegansnackpacks.com. Company will automatically bill your credit card submitted in ordering the Service on the date the Service is activated, and each month thereafter, until you cancel your Service.  Cancellation of service must be processed via telephone with our support line. If you choose to cancel your service, you must notify the company at least 5 days before your next billing cycle.  <strong>You hereby authorize Company to bill your credit card as described above.</strong>  Fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you are responsible for payment of all such taxes, levies or duties. Any amounts not paid when due shall bear interest at the rate of one and one half percent (1.5%) per month, or the maximum legal rate if less. If any fee cannot be charged to your credit card for any reason, Company may provide you, via email, notice of such non-payment and a link for you to update your payment information.  If such non-payment is not remedied within seven (7) days after receiving such notice of non-payment, then Company may terminate the applicable Service.
								</li>
							</ol>
						</p>
						</li>
						<li>
						<p><strong>Site</strong>
						<ol type="3.1">
							<li>
								<strong>License.</strong>  Subject to the terms of this Agreement, Company grants you a non-transferable, non-exclusive, license to use the Site and Services for your personal, noncommercial use.
							</li>
							<li>
								<strong>Certain Restrictions.</strong>  The rights granted to you in this Agreement are subject to the following restrictions: (a) you shall not license, sell, rent, lease, transfer, assign, distribute, host, or otherwise commercially exploit the Site or Services; (b) you shall not modify, make derivative works of, disassemble, reverse compile or reverse engineer any part of the Site or Services; (c) you shall not access the Site or Services in order to build a similar or competitive service; and (d) except as expressly stated herein, no part of the Site or Services may be copied, reproduced, distributed, republished, downloaded, displayed, posted or transmitted in any form or by any means.  Any future release, update, or other addition to functionality of the Site or Services shall be subject to the terms of this Agreement.  All copyright and other proprietary notices on any Site or Services content must be retained on all copies thereof.
							</li>
							<li>
								<strong>Modification.</strong>  Company reserves the right, at any time, to modify, suspend, or discontinue the Site or Services or any part thereof with or without notice.  You agree that Company will not be liable to you or to any third party for any modification, suspension, or discontinuance of the Site or Services or any part thereof, except and if otherwise expressly set forth in Section 9.
							</li>
							<li>
								<strong>No Support or Maintenance.</strong>  You acknowledge and agree that Company will have no obligation to provide you with any support or maintenance in connection with the Site or Services.
							</li>
							<li>
								Ownership.  Excluding your User Content (defined below), you acknowledge that all the intellectual property rights, including copyrights, patents, trademarks, and trade secrets, in the Site and Services are owned by Company or Company’s licensors.  The provision of the Site and Services does not transfer to you or any third party any rights, title or interest in or to such intellectual property rights. Company and its suppliers reserve all rights not granted in this Agreement.
							</li>

						</ol>
					</p>
					</li>
					<li>
					<p><strong>User Content</strong>
						<ol type="4.1">
							<li>
								<strong>User Content.  “User Content”</strong> means any and all information and content that a user submits to, or uses with, the Site or Services (e.g., content in the user’s profile or postings).  You are solely responsible for your User Content.  You assume all risks associated with use of your User Content, including any reliance on its accuracy, completeness or usefulness by others, or any disclosure of your User Content that makes you or any third party personally identifiable.  You hereby represent and warrant that your User Content does not violate the Acceptable Use Policy (defined below).  You may not state or imply that your User Content is in any way provided, sponsored or endorsed by Company.  Because you alone are responsible for your User Content (and not Company), you may expose yourself to liability if, for example, your User Content violates the Acceptable Use Policy.  Company is not obligated to backup any User Content and User Content may be deleted at anytime.  You are solely responsible for creating backup copies of your User Content if you desire.
							</li>
							<li>
								<strong>Feedback.</strong>  If you provide Company any feedback or suggestions regarding the Site or Services (<strong>“Feedback”</strong>), you hereby assign to Company all rights in the Feedback and agree that Company shall have the right to use such Feedback and related information in any manner it deems appropriate.  Company will treat any Feedback you provide to Company as non-confidential and non-proprietary.  You agree that you will not submit to Company any information or ideas that you consider to be confidential or proprietary.

							</li>
						</ol>
					</p>
					</li>
					<li>
						<p><strong>Indemnity.</strong>  
						<p>You agree to indemnify and hold Company (and its officers, employees, and agents) harmless, including costs and attorneys’ fees, from any claim or demand made by any third party due to or arising out of (a) your use of the Site or Services, (b) your User Content, (c) your violation of this Agreement; or (d) your violation of applicable laws or regulations.  Company reserves the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us and you agree to cooperate with our defense of these claims.  You agree not to settle any matter without the prior written consent of Company.  Company will use reasonable efforts to notify you of any such claim, action or proceeding upon becoming aware of it.</p>
						</p>

					</li>
					<li>
					<p><strong>Third Party Sites & Ads; Other Users</strong>
						<ol type="6.1">
							<li>
								<strong>Third Party Sites & Ads.</strong>  The Site might contain links to third party websites, services, and advertisements for third parties (collectively, <strong>“Third Party Sites & Ads”</strong>).  Such Third Party Sites & Ads are not under the control of Company and Company is not responsible for any Third Party Sites & Ads.  Company provides these Third Party Sites & Ads only as a convenience and does not review, approve, monitor, endorse, warrant, or make any representations with respect to Third Party Sites & Ads.  You use all Third Party Sites & Ads at your own risk. When you link to a Third Party Site & Ad, the applicable third party’s terms and policies apply, including the third party’s privacy and data gathering practices.  You should make whatever investigation you feel necessary or appropriate before proceeding with any transaction in connection with such Third Party Sites & Ads.
							</li>
							<li>
								<strong>Other Users.</strong>  Each Site or Service user is solely responsible for any and all of its User Content.  Because we do not control User Content, you acknowledge and agree that we are not responsible for any User Content and we make no guarantees regarding the accuracy, currency, suitability, or quality of any User Content, and we assume no responsibility for any User Content.  Your interactions with other Site or Service users are solely between you and such user.  You agree that Company will not be responsible for any loss or damage incurred as the result of any such interactions.  If there is a dispute between you and any Site or Service user, we are under no obligation to become involved.
							</li>
							<li>
								<strong>Release.</strong>  You hereby release and forever discharge us (and our officers, employees, agents, successors, and assigns) from, and hereby waive and relinquish, each and every past, present and future dispute, claim, controversy, demand, right, obligation, liability, action and cause of action of every kind and nature (including personal injuries, death, and property damage), that has arisen or arises directly or indirectly out of, or relates directly or indirectly to, any interactions with, or act or omission of, other Site or Service users or Third Party Sites & Ads.  IF YOU ARE A CALIFORNIA RESIDENT, YOU HEREBY WAIVE CALIFORNIA CIVIL CODE SECTION 1542 IN CONNECTION WITH THE FOREGOING, WHICH STATES: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.”
							</li>
						</ol>
					</p>
					</li>
					<li>
					<p><strong>Disclaimers</strong>
					<p>THE SITE AND SERVICES ARE PROVIDED “AS-IS” AND “AS AVAILABLE” AND WE (AND OUR SUPPLIERS) EXPRESSLY DISCLAIM ANY WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING THE WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, QUIET ENJOYMENT, ACCURACY, OR NON-INFRINGEMENT.  WE (AND OUR SUPPLIERS) MAKE NO WARRANTY THAT THE SITE OR SERVICES: (A) WILL MEET YOUR REQUIREMENTS; (B) WILL BE AVAILABLE ON AN UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE BASIS; OR (C) WILL BE ACCURATE, RELIABLE, FREE OF VIRUSES OR OTHER HARMFUL CODE,  COMPLETE, LEGAL, OR SAFE.</p>
					<p>SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU.</p>
						
					</p>	
					</li>
					<li>
						<p><strong>Limitation on Liability</strong>
						<p>IN NO EVENT SHALL WE (AND OUR SUPPLIERS) BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY LOST PROFIT OR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES ARISING FROM OR RELATING TO THIS AGREEMENT OR YOUR USE OF, OR INABILITY TO USE, THE SITE OR SERVICES, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  ACCESS TO, AND USE OF, THE SITE AND SERVICES ARE AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA RESULTING THEREFROM.</p>
						<p>NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, OUR LIABILITY TO YOU FOR ANY DAMAGES ARISING FROM OR RELATED TO THIS AGREEMENT (FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION), WILL AT ALL TIMES BE LIMITED TO THE GREATER OF (A) FIFTY US DOLLARS ($50) OR (B) AMOUNTS YOU’VE PAID COMPANY IN THE PRIOR 12 MONTHS (IF ANY). THE EXISTENCE OF MORE THAN ONE CLAIM WILL NOT ENLARGE THIS LIMIT.  YOU AGREE THAT OUR SUPPLIERS WILL HAVE NO LIABILITY OF ANY KIND ARISING FROM OR RELATING TO THIS AGREEMENT.</p>
						<p>SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OF CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.</p>
						</p>
					</li>
					<li>
						<p>
							<strong>Term and Termination.</strong>  
							<p>Subject to this Section, this Agreement will remain in full force and effect while you use the Site or Services.  We may (a) suspend your rights to use the Site and/or Services (including your Company Account) or (b) terminate this Agreement, at any time for any reason at our sole discretion, including for any use of the Site or Services in violation of this Agreement.  Upon termination of this Agreement, your Company Account and right to access and use the Site and Services will terminate immediately.  You understand that any termination of your Company Account involves deletion of your User Content associated therewith from our live databases.  Company will not have any liability whatsoever to you for any termination of this Agreement, including for termination of your Company Account or deletion of your User Content.  Notwithstanding anything to the contrary, if Company terminates this Agreement other than due to your violation of this Agreement or discontinues the Service, Company will provide you a pro-rata refund of your last monthly payment for any pre-paid but unused Services (if applicable). Even after this Agreement is terminated, the following provisions of this Agreement will remain in effect: Sections 3.2-3.5, 4 –11.</p>
						</p>
					</li>
					<li>
						<p>
							<strong>General</strong>
							<ol type="10.1">
								<li>
									<strong>Changes to Terms of Use.</strong>  This Agreement is subject to occasional revision, and if we make any substantial changes, we may notify you by sending you an e-mail to the last e-mail address you provided to us (if any) and/or by prominently posting notice of the changes on our Site.  Any changes to this agreement will be effective upon the earlier of thirty (30) calendar days following our dispatch of an e-mail notice to you (if applicable) or thirty (30) calendar days following our posting of notice of the changes on our Site.  These changes will be effective immediately for new users of our Site or Services.  You are responsible for providing us with your most current e-mail address.  In the event that the last e-mail address that you have provided us is not valid, or for any reason is not capable of delivering to you the notice described above, our dispatch of the e-mail containing such notice will nonetheless constitute effective notice of the changes described in the notice.  Continued use of our Site or Services following notice of such changes shall indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions of such changes.
								</li>
								<li>
									<strong>Dispute Resolution. PLEASE READ THIS CAREFULLY. IT AFFECTS YOUR RIGHTS.</strong>
									<ol type="a">
										<li>
											Any and all controversies, disputes, demands, counts, claims, or causes of action (including the interpretation and scope of this clause, and the arbitrability of the controversy, dispute, demand, count, claim, or cause of action) between you and the company and our employees, agents, successors, or assigns, regarding or relating to the Site, Services or this Agreement, shall exclusively be settled through binding arbitration. Notwithstanding the foregoing, either you or we may bring an individual action in small claims court.
										</li>
										<li>
											Arbitration shall be subject to the Federal Arbitration Act and not any state arbitration law. The arbitration shall be conducted before one commercial arbitrator with substantial experience in resolving commercial contract disputes from the American Arbitration Association (<strong>"AAA"</strong>). As modified by this Agreement, and unless otherwise agreed upon by the parties in writing, the arbitration will be governed by the AAA's final rules for commercial arbitration and, if the arbitrator deems them applicable, the procedures for consumer-related disputes.
										</li>
										<li>
											You are thus GIVING UP YOUR RIGHT TO GO TO COURT to assert or defend your rights EXCEPT for matters that may be taken to small claims court. Your rights will be determined by a NEUTRAL ARBITRATOR and NOT a judge or jury. You are entitled to a FAIR HEARING, BUT the arbitration procedures are SIMPLER AND MORE LIMITED THAN RULES APPLICABLE IN COURT. Arbitrator decisions are as enforceable as any court order and are subject to VERY LIMITED REVIEW BY A COURT.
										</li>
										<li>
											You and we must abide by the following rules (1) ANY CLAIMS BROUGHT BY YOU OR US MUST BE BROUGHT IN THE PARTIES' INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING; (2) THE ARBITRATOR MAY NOT CONSOLIDATE MORE THAN ONE PERSON'S CLAIMS, MAY NOT OTHERWISE PRESIDE OVER ANY FORM OF A REPRESENTATIVE OR CLASS PROCEEDING, AND MAY NOT AWARD CLASS-WIDE RELIEF, (3) in the event that you are able to demonstrate that the costs of arbitration will be prohibitive as compared to costs of litigation, we will pay as much of your filing and hearing fees in connection with the arbitration as the arbitrator deems necessary to prevent the arbitration from being cost-prohibitive as compared to the cost of litigation, (4) the arbitrator shall honor claims of privilege and privacy recognized at law; and (5) the arbitrator's award shall be final and may be enforced in any court of competent jurisdiction.
										</li>
										<li>
											With the exception of subparts (1) and (2) in the paragraph 10.2.d above (prohibiting arbitration on a class or collective basis), if any part of this arbitration provision is deemed to be invalid, unenforceable or illegal, then the balance of this arbitration provision shall remain in effect and shall be construed in accordance with its terms as if the invalid, unenforceable, or illegal provision were not contained herein. If, however, either subparts (1) and (2) in the paragraph 10.2.d (prohibiting arbitration on a class or collective basis) is found to be invalid, unenforceable or illegal, then the entirety of this arbitration provision shall be null and void, and neither you nor we shall be entitled to arbitration. If a claim proceeds in court rather than in arbitration because the agreement to arbitrate is held to be invalid or unenforceable, the dispute shall be exclusively brought in state or federal court in Miami Dade County, Florida.
										</li>
										<li>
											Notwithstanding any provision in this Agreement to the contrary, if we seek to terminate the Dispute Resolution section as included in the Agreement, any such termination shall not be effective until 30 days after the version of the Agreement not containing the agreement to arbitrate is posted to the Site, and shall not be effective as to any claim of which you provided the Company with written notice prior to the date of termination.
										</li>
										<li>
											For more information on AAA, its Rules and Procedures, and how to file an arbitration claim, you may call AAA at 800-778-7879 or visit the AAA website at http://www.adr.org.
										</li>
										<li>
											Any and all controversies, disputes, demands, counts, claims, or causes of action between you and the Company and our employees, agents, successors, or assigns, regarding or relating to these the Site, Services or this Agreement, shall exclusively be governed by the internal laws of the State of Florida, without regard to its choice of law rules and without regard to conflicts of laws principles except that the arbitration provision shall be governed by the Federal Arbitration Act.
										</li>
									</ol>
								</li>
								<li>
									<strong>Entire Agreement.</strong> This Agreement constitutes the entire agreement between you and us regarding the use of the Site and Services. Our failure to exercise or enforce any right or provision of this Agreement shall not operate as a waiver of such right or provision. The section titles in this Agreement are for convenience only and have no legal or contractual effect. The word including means including without limitation.  If any provision of this Agreement is, for any reason, held to be invalid or unenforceable, the other provisions of this Agreement will be unimpaired and the invalid or unenforceable provision will be deemed modified so that it is valid and enforceable to the maximum extent permitted by law.  Your relationship to Company is that of an independent contractor, and neither party is an agent or partner of the other.  This Agreement, and your rights and obligations herein, may not be assigned, subcontracted, delegated, or otherwise transferred by you without Company’s prior written consent, and any attempted assignment, subcontract, delegation, or transfer in violation of the foregoing will be null and void.  The terms of this Agreement shall be binding upon assignees.
								</li>
								<li>
									<strong>Copyright/Trademark Information.</strong>  Copyright © 2014, Ahimsa Cuisine Co All rights reserved.  All trademarks, logos and service marks (“Marks”) displayed on the Site are our property or the property of other third parties. You are not permitted to use these Marks without our prior written consent or the consent of such third party which may own the Marks.
								</li>
								<li>
									<strong>Contact Information:</strong>
Ahimsa Cuisine Co
20533 Biscayne Blvd. Suite 4-857
Aventura, FL 33180-1529
Telephone: (888) 793-7249
Email: support@vegansnackpacks.com  
								</li>
							</ol>
						</p>
					</li>
				</ol>
				</div>
			</div>
		</section>

		
		<footer>
			<%= render 'statics/application_footer'%>
		</footer>

		
