/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 *= require admin/spree_backend
 *= require jquery-ui.min

 *= require_self
 *= require_tree .
*/

.banner_image {
  padding-top: 10px;
  padding-bottom: 10px;
}

#admin-menu li{
	font-weight: bold;
}

#coupon_code{
	color: black;
	font-weight: bold;
	font-family: arial;
	font-size: 1.3em;
	width: 100%;
}

#generate_code_btn{
	font-family: arial;
	width: 25%;
	display: block;
	text-align: center;
	font-size: 1.1em;
	background-color: #5498DA;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1% 0% 1% 0%;
	border-radius: 3px;
	margin: 2% 0% 0% 0%;
}

#generate_code_btn:hover{
	background-color: #9FC820;
}


#listing_coupons {
    text-align: center;
}

#listing_coupons tbody tr td.actions{
	display: inline-block;
  	width: 100px;
}

#coupon_fieldset div span.formError {
	display: block;
}

#order_range{
	text-align: center;
	padding: 0% 0% 1% 0%;
}

.order-datepicker{
	background-color: rgba(240, 248, 255, 0.92);
}

.order-datepicker:hover{
	cursor: text;
}

#filter_export{
	text-align: center;
	padding: 2% 0% 0% 0%;
}

.filter-btn {
	padding: 0.75% 1.3% !important;
	border-radius: 3px;
	background-color: rgba(43, 154, 226, 0.83) !important;
	text-transform: uppercase;
	color: #FFFFFF !important;
	font-weight: bold;
	margin: 0% 0.4%;
}

.filter-btn:hover{
	color: #FFFFFF !important;
	background-color: rgba(43,154,226,1) !important;
}

.order-pages{
	float: left;
}

#form_filter div {
	padding: 2% 0% 0% 0%;
}

#export_submit{
	float: right;
	margin: 1.5% 4% 0% 0%;
	background-color: rgba(99, 17, 88, 0.80);
}

#export_submit:hover {
	background-color: rgba(99, 17, 88, 1);
}

#no_result {
	text-align: center;
	font-weight: bold;
	color: #FF0000;
	font-size: 1.3em;
}

#date_types{
	width: 20%;
}

#order_tab_summary{
	width: 300px;
}

#filter_result {
padding: 0% 0% 2% 0% !important;
/*position: absolute;*/
}

.range-error{
	font-size: 1.1em;
	font-weight: bold;
	color: #FF0000 !important;
}

.range-success{
	color: rgb(60, 178, 76) !important;
	font-size: 1.1em;
	font-weight: bold;
}

.range-notify{
	color: rgb(0, 0, 0) !important;
	font-size: 1.1em;
	font-weight: bold;
}
.me-red{
	color: #FF0000;
}

#date_start, #date_end {
	text-align: center;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.84);
	font-size: 1.4em;
	padding: 0.3% 0%;
	width: 20%;
}

.single-line{
	width: 49%;
	display: inline-block;
	margin: 0% 1% 0% 0%;
}

#inline_tbl{
	display: inline-table;
}

#filter_submit{
	background-color: rgba(0, 62, 134, 0.80) !important;
}

#filter_submit:hover {
	background-color: rgba(0, 62, 134, 1) !important;
}