/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 *= require store/spree_frontend

 *= require_self
 *= require_tree .
*/

@font-face {
    font-family: "cool_font";
    src: url('/fonts/Roboto-BlackItalic.ttf');
}


#bill_title{
    font-family: "cool_font"
}

.field{
    margin-bottom: 5% !important;
}

#billing_address{
    /*background-color: #00f;*/
    /*width: 49%;*/
    font-weight:550;
    float:left;
    
    margin-left: -5%;
    width: 45%;
}


#order_summary{
    
    width: 60%;
    /*width: 49%;*/
    /*background-color: #f00;*/
    float:right;
    border: 0px !important;
}

.left_field{
    
    width: 49%;
    height: 40%;
    /*margin-bottom: 0.9em;*/
    float:left;
}

.complete_field{
    
    width: 100% !important;
    
}

.left_field_large
{
    
    width: 98%;
    height: 40%;
    display: inline-block;
    position: relative;
    float: left;
    margin-bottom: 0.9em;
    
}

.small_input input{
    width: 80%;
    height: 2.25em;
    padding-bottom: 5%;
    border-radius: 0.25em;
}
.large_input input{
    width: 91%;
    max-height: 40%;
    height: 2.25em;
    border-radius: 0.25em;
}


.compulsory{
    color: #f00;
}

#bill_title{
    text-transform: none;
}


#new-customer{
    min-height: 400px;
}


#ship_calculation{
    float: right;
    border-collapse: separate !important ;
    
}

#subscriptions td{
    
    /*font-weight: bold;*/
    /*background-color: #f00;*/
    /*height: 30px !important;  */
    
}

#footer_page{
    /*float: left;*/
    margin-left: -20%;
}

#footer_details{
    padding-left: 10%;
    background-color: #963;
    color: #fff;
    width: 115%;
    min-height: 360px;
}


.footer_links ul li{
    list-style-type: none;
    line-height: 2em;
    width:140px;
} 

.shop{
    /*margin-left: 6%;*/
}

#footer_details ul{
    list-style-type: none;
}

/*#footer_details .shop h3{*/
    #footer_details > ul> li> h3 { 

    color: #EDE9E1;
    font-weight: bolder;
    font-size: 17px;
    line-height: 25px;
    margin: 0px;
    text-transform: uppercase;
}

#footer_details > ul > li > hr{
    border: 0.06em solid #755F38;
    float: left;
    width: 165px;
}


#footer_details >.footer_links >li {
    float: left;
    height: auto;
    min-height: 175px;
    width: 150px;

} 
 .right_footer_links > li {
    float: left;
    height: auto;
    min-height: 175px;
    width: 150px;
    float: right;
    line-height: 25px;
    margin-right: 150px;

}

#footer_details{
    width: 1190px;
}

.shop-1{
    margin-left: 65px;
}

.footer_fonts{
    color: #ff9933;
    font-size: 13px;
    font-weight: lighter;
}

.contact_us_fonts{
    color: #E0D8CE;
    font-size: 14px;
    font-weight: lighter;
}

.contact_us_fonts>li>span{
    color: #5C554D;
}
.contact_us{
    
}
.right_footer{
    /*width: 200px;*/
}

#copyright>p{
    align-self: center;
    background-color: #4F3303;
    border-radius: 10px;
    display: inline-block;
    line-height: 29px;
    margin-left: 4%;
    margin-top: 3%;
    min-height: 77px;
    text-align: center;
    width: 85%;
    opacity: 0.4;

}


p.pos_fixed
{
position:fixed;
top:130px;
right:8px;
}

.icon{
    width: 20px;
    height: 20px;
    background-color: red;
    opacity: 0.5;
    position: fixed;
    top: 130px;
    right: 8px;
    margin-top: 5px;
    border-radius: 4px;
    cursor: pointer;
}

#top_header{
    background-color: #CCCCFF;
    min-height: 75px;
    width: 101%;
    margin-top: -2%;
    margin-left: -13%;
}

#top_header>#header_left>ul>li{
    
    display: inline-block;
    float: left;
    font-size: 20px;
    line-height: 53px;
    padding: 10px;
    cursor: pointer;
}


#top_header>#header_right>ul>li{
    display: inline-block;
    float: right;
    font-size: 20px;
    line-height: 53px;
    padding: 10px;
}


#top_header{
    position: fixed;
}
.container{
 /*   width: 100% !important;*/
}


#rightbar {
    background: none repeat scroll 0 0 none;
    bottom: 20;
    display: block;
    height: 30%;
    position: fixed;
    right: 0;
    top: 150px;
    transition: right 400ms ease-out 0s;
    width: 40px;


}

#pagination {
    height: auto;
    margin-top: -80px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.pageSection {
    cursor: pointer;
    height: 40px;
    list-style-type: none;
    position: relative;
    width: 100%;
    /*background-color: #fff;*/
    padding: 5px;
    border-color: #000;
    right: 5px;
}



.pageTrigger {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


.pageDot {
    width: 43px;
    height: 30px;
    background-color: #A7BBC2;
    margin-left: -20px;
    margin-top: -5px;
    border-radius: 5px/5px;
    background: transparent #fff;
    border: 3px solid #ffffff;
    opacity: 0.7;

}

#order_button{
    display: inline-block;
}