<!--<div class='snack-remove mob-remove' style='display:none !important'>
  <%#= hidden_field_tag 'cart_item_id', cart_item.id %>
  <%#= hidden_field_tag 'cart_id', cart.id %>
  <%#= hidden_field_tag 'color_id', color_box %>
  <div class='snack-remove-message mob-remove-message'> Remove </div>
</div>
-->

<div class='ship-hover mob-remove' style='display:none !important'>
  <%= hidden_field_tag 'cart_item_id', cart_item.id %>
  <%= hidden_field_tag 'cart_id', cart.id %>
  <%= hidden_field_tag 'color_id', color_box %>
  <div class='ship-message mob-remove-message'> shipping </div>
</div>