<div class="snack-queue-page">
  <div id="queue_title"> my subscription </div>


  <div id="complete_queue">


    <% @current_line_items.each do |key,value| %>

        <div class="first-delivery subscription-row">
          <div class="queue-tile">
            <!--<div class="month-tile"> next order Ships <%#= @delivery_date.strftime("%B %d, %Y") %></div>-->
          </div>
          <% value.each do |line_item| %>

              <% line_item.quantity.times do %>

                  <% variant = line_item.variant %>

                  <div class="sub-snack-tab" id="<%= variant.id %>">
                    <div class="subscription-product-image">

                      <%= image_tag(variant.images.first.attachment.url(:small), class: 'img-thumbnail') %>

                      <div class="sub-snack-name"><%= truncate(variant.name, length: 30, separator: '') %></div>
                    </div>
                  </div>
              <% end %>

          <% end %>
        </div>
    <% end %>


    <div class="subscription-options">

      <%= link_to 'Change Subscription',  spree.update_subscription_orders_path(order_id: @current_line_items[0].first.order_id) %>


    </div>

  </div>

