// Place all the styles related to the comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-comment{
  margin-left: 30%;
  width: 40%;
}

.add-comment-element{
  padding: 2%;
  display: block;
}

.add-comment-element>label{

  float:left;
}
.add-comment-element>input,textarea{

  display: block;
  width: 94%;
}