/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require social-share-button
 *= require jquery.tagsinput
 *= require jquery.countdown
 *= require_tree .
 *= require_self
*/
.public-error{
  color: red;
  float: none !important;
  margin: 0 !important;
  text-align: center !important;
  margin-bottom: 5px !important;
  text-transform: none;
}
.modal-dialog{
  margin: 13% auto !important;
}
#myModalLabel{
  color: #262626;
}
.btn-link{
  width: 100%;
  margin-bottom: 20px;
  color: #FFFFFF !important;
  background-color: #428BCA !important;
  border-color: #357EBD !important;
}
.align-left{
  text-align: left;
}
.modal-body{
  padding: 20px 20px 0 !important;
}
.align-center{
  text-align: center;
}
.margin-bottom-10{
  margin-bottom: 10px;
}
.btn-primary{
  color: #FFFFFF !important;
}
.flash-error{
  color: #FF0000 !important;
}
.flash-success{
  color: #5CB85C !important;
}
