<div class="modal fade" id="subscription_confirm_modal" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--modal header -->
            <div class="modal-header" id='subscription_confirm_header'>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <span id='confirm_head'/>
            </div>

            <!-- modal body -->
            <div class="modal-body" id= 'subscription_confirm_body'>
                <span id='confirm_body' />
            </div>

            <!-- modal footer -->
            <div class="modal-footer" id='subscription_confirm_footer'>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span id='confirm_cancel'> Cancel </span>
                </button>

                <%= link_to 'pause', 'javascript:void(0)', id: 'submit_sub_confirm' %>

            </div>
        </div>
    </div>
</div>