<div class='modal-header'>
  <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
  <h4 class='modal-title' id='myModalLabel'>Choose Subscription</h4>

</div>

<div class='modal-body'>

  <% unless @my_subscriptions.blank? %>
    <% @my_subscriptions.each_with_index do |my_subscription, index| %>
      <%= link_to "#{my_subscription.subscription.try(:subscription_type)} (#{my_subscription.created_at.strftime("%d %b, %Y")})", "/my_subscriptions/#{my_subscription.id}", :class => 'btn btn-primary btn-link' %>
    <%end%>
  <% else %>

    <div id="no_sub_found">
      <div> Sorry, no active subscription found. </div>
      <div> Please create a new subscription from your account. </div>
    </div>

  <% end %>
</div>

<div class='modal-footer'>
  <% unless @my_subscriptions.blank? %>
    <div class='align-left'>Please select a subscription to proceed.</div>

  <% end %>
</div>